version: '3.6'

services:
  kong-database:
    image: postgres:9.6-alpine@sha256:ac98c2d56aa8090977792988553d38a0f5d1f12d857082b99b24b0d8a2ddda5e
    environment:
      - POSTGRES_USER=kong
      - POSTGRES_DB=kong
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "kong"]
      interval: 10s
      timeout: 5s
      retries: 5

  kong-migration:
    image: kong:0.15.0-alpine@sha256:04e996c95f7cf96dddb94fa51c0a68baa46c7a81c737bc20befe58a439d6d90a
    depends_on:
      - kong-database
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=kong-database
    command: kong migrations up

  kong:
    image: kong:0.15.0-alpine@sha256:04e996c95f7cf96dddb94fa51c0a68baa46c7a81c737bc20befe58a439d6d90a
    depends_on:
      - kong-database
      - kong-migration
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=kong-database
      - KONG_PG_DATABASE=kong
      - KONG_ADMIN_LISTEN=0.0.0.0:8001
    expose:
      - 8000
      - 8001
      - 8443
      - 8444
    ports:
      - "8000:8000"
      - "8001:8001"
    healthcheck:
      test: ["CMD-SHELL", "curl -I -s -L http://127.0.0.1:8000 || exit 1"]
      interval: 5s
      retries: 10

  kongfig:
    build: .
    depends_on:
      - kong-database
      - kong-migration
      - kong
    volumes:
      - ./examples:/etc/kongfig/:ro
    command: ["apply", "-f", "/etc/kongfig/config.example.yaml"]
    environment:
      - POD_NAMESPACE=dev
      - DOMAIN_NAME=pager.com
      - SVC_DOMAIN=dev.svc.cluster.local
